<link rel="import" href="trip.html">
<link rel="import" href="../elements/trip-table.html">
<!-- <link rel="import" href="../elements/trip-service.html"> -->
<!-- <link rel="import" href="../elements/route-service.html"> -->
<link rel="import" href="../elements/data-service.html">

<link rel="import" href="../elements/car-container.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="../elements/trip-edit-route-validator.html">
<link rel="import" href="../elements/trip-edit-origin-validator.html">
<link rel="import" href="../elements/trip-edit-destination-validator.html">
<link rel="import" href="../elements/filter-selector.html">
<link rel="import" href="../elements/location-line.html">

<link rel="import" href="../elements/pop-up.html">
<link rel="import" href="../elements/generic-container.html">
<link rel="import" href="../elements/car-content.html">

<link rel="import" href="../bower_components/google-map/google-map.html">
<!-- <link rel="import" href="../bower_components/google-map/google-map-directions.html"> -->
<link rel="import" href="../patched_components/google-map-directions.html">
<link rel="import" href="../elements/google-map-address-marker.html">
<link rel="import" href="../bower_components/google-map/google-map-marker.html">


<dom-module name="create-trip">
  <style>
    .trip-map {
      background: #369;
      width: 30%;
      margin: 10px 2% 10px 0px;
      height: 200px;
      align-self: center;
      display: inline-block;
    }
    .basic-info {
      display: inline-block;
      width: 65%;
      min-width: 200px;
      vertical-align: top;
    }
    .create-trip-input {
      min-width: 160px;
      width: 27%;
      display: inline-block;
      margin-right: 10px;
    }
    .create-trip-input-extra {
      min-width: 50px;
      display: inline-block;
      width: 68%;
      padding: 10px 0 10px 1%;
    }
    .extra-info {

    }
    .column1-3, .column2-3, .column3-3 {
      min-width: 200px;
      height: 170px;
      margin: 2.5%;
      padding: 10px;
      vertical-align: top;
      display: inline-block!important;
      width: 25%;
      background: #ccc;
      border: 1px solid #aaa;
    }
  </style>
  <template>
    <data-service id="rs" type="routes" fetch="list" data="{{routes}}"></data-service>

    <datalist id="routes">
      <template is="dom-repeat" items="[[routes]]">
        <option value="[[item.name]]">
      </template>
    </datalist>

    <datalist id="origins">
      <template is="dom-repeat" items="[[origins]]">
        <option value="[[item.city]]">
      </template>
    </datalist>
    <datalist id="destinations">
      <template is="dom-repeat" items="[[destinations]]">
        <option value="[[item.city]]">
      </template>
    </datalist>
    
    <div>
      <div class="trip-map">
        <google-map map="{{map}}" latitude="27.2785308" longitude="-6.7255617">
          <google-map-marker latitude="[[legs.0.start_location.G]]" longitude="[[legs.0.start_location.K]]" icon="https://mts.googleapis.com/vt/icon/name=icons/spotlight/spotlight-waypoint-a.png&text=A&psize=16&font=fonts/Roboto-Regular.ttf&color=ff333333&ax=44&ay=48&scale=1" z-index="1">
          </google-map-marker>

          <template is="dom-repeat" items="[[legs]]">
            <google-map-marker latitude="[[item.end_location.G]]" longitude="[[item.end_location.K]]" icon="https://maps.gstatic.com/mapfiles/dd-via.png" z-index="0">
            </google-map-marker>
          </template>

          <google-map-marker latitude="[[lastLeg.end_location.G]]" longitude="[[lastLeg.end_location.K]]" icon="https://mts.googleapis.com/vt/icon/name=icons/spotlight/spotlight-waypoint-b.png&text=B&psize=16&font=fonts/Roboto-Regular.ttf&color=ff333333&ax=44&ay=48&scale=1">
          </google-map-marker z-index="1">
        </google-map>
        <template is="dom-if" if="[[map]]">
          <google-map-directions map="{{map}}" start-address="[[mapData.origin]]" end-address="[[mapData.destination]]" waypoint-addresses="[[mapData.waypoints]]" on-google-map-response="directions" suppress-markers>
          </google-map-directions>

          <template is="dom-repeat" items="[[origins]]">
            <google-map-address-marker map="{{map}}" address="[[address(item)]]" identifier="[[item.city]]" on-selected="selectMarkOrig"></google-map-address-marker>
          </template>
          <template is="dom-repeat" items="[[destinations]]">
            <google-map-address-marker map="{{map}}" address="[[address(item)]]" identifier="[[item.city]]" on-selected="selectMarkDest"></google-map-address-marker>
          </template>
        </template>
      </div>

      <div class="basic-info">
        <div>
          <data-service id="rs2" type="routes" fetch="[[selected.route.idroute]]" data="{{selected.route}}" on-response="routeLoaded"></data-service>
          <trip-edit-route-validator items="[[routes]]" attrib="name" ></trip-edit-route-validator>
          <paper-input id="routeInput" label="Ruta" list="routes" value="{{fakefilters.route}}" validator="trip-edit-route-validator" required auto-validate on-input="routeSelected"></paper-input>
        </div>

        <div>
          <template is="dom-if" if="[[selected.route]]">
            <trip-edit-origin-validator items="[[origins]]" attrib="city" ></trip-edit-origin-validator>
            <paper-input id="origInput" class="create-trip-input" label="De:" list="origins" placeholder="Salida" value="{{fakefilters.origin}}" validator="trip-edit-origin-validator" required auto-validate></paper-input>
            <input id="originAddress" class="create-trip-input-extra" placeholder="Direccion" readonly$="[[!canAddress(selected.origin)]]" value="{{selected.origin.address::input}}">
          </template>
        </div>
        <div>
          <template is="dom-if" if="[[selected.origin]]">
            <trip-edit-destination-validator items="[[destinations]]" attrib="city" ></trip-edit-destination-validator>
            <paper-input id="destInput" class="create-trip-input"  label="A:" list="destinations" placeholder="Llegada" value="{{fakefilters.destination}}" validator="trip-edit-destination-validator" required auto-validate></paper-input>
            <input id="destinationAddress" class="create-trip-input-extra" placeholder="Direccion" value="{{selected.destination.address::input}}" readonly$="[[!canAddress(selected.destination)]]">
          </template>
        </div>

        <div class="layout horizontal">
          <template is="dom-if" if="[[selected.destination]]">
            <div class="layout vertical">
              <span>Fecha</span>
              <input type="date" value="{{fakefilters.date::input}}" min="[[today()]]" required>
            </div>
            <div class="layout vertical">
              <span>Hora</span>
              <input type="time" value="{{fakefilters.time::input}}" required>
            </div>
          </template>
        </div>
      </div>

    </div>

    <div class="extra-info">
      <template is="dom-if" if="[[fakefilters.time]]">
        <div class="column1-3 layout vertical">
          <filter-selector type="pet" selected="{{filters.animals}}"></filter-selector>
          <filter-selector type="package" selected="{{filters.packages}}"></filter-selector>
        </div>
      </template>

      <template id="aaa" is="dom-if" if="[[petsAndPackages(filters.animals, filters.packages)]]">
        <div class="column2-3 layout vertical">
          <paper-input class="create-trip-input" label="Coche" readonly always-float-label on-keypress="showCarSelect" on-click="showCarSelect" value="[[car.idcar]]"></paper-input>
          <div class="layout vertical">
            <span>Asientos libres</span>
            <paper-slider class="create-trip-input" label="Asientos" always-float-label min="1" max="4" pin snaps editable></paper-slider>
          </div>
        </div>

        <pop-up id="car_select" with-backdrop>
          <car-content iduser="[[user.iduser]]" data="[[user.cars]]" selected="{{car}}" on-select="hideCarSelect" load></car-content>
        </pop-up>
      </template>

      <template is="dom-if" if="[[car.idcar]]">
        <div class="column3-3 layout vertical">
          <span>Precio</span>
          <paper-slider class="price-slider" always-float-label min="1" max="4" pin snaps editable></paper-slider>
          <div class="layout horizontal">
            <span class="flex">Asiento</span>
            <div>x <span>13</span>€</div>
          </div>
          <div class="layout horizontal">
            <span class="flex">Paquete</span>
            <div>x <span>10</span>€</div>
          </div>
        </div>
      </template>
    </div>

    <template is="dom-if" if="[[car.idcar]]">
      <div class="vertical-separator"></div>

      <paper-textarea label="Comentario" char-counter maxlength="200" max-rows="10" value="{{filters.comment}}"></paper-textarea>

      <div class="vertical-separator"></div>

      <div class="create-trip-other-locations">
        <span>Trayecto completo</span>
        <location-line location="[[selected.origin]]" stop lock-address></location-line>
        <template is="dom-repeat" items="[[others]]">
          <location-line location="[[item]]" retardation on-retardation-changed="recalculateDate"></location-line>
        </template>
        <location-line location="[[selected.destination]]" stop lock-address arrival></location-line>
      </div>




      <div>
        <paper-button raised on-click="saveData">Guardar</paper-button>
        <paper-button raised on-click="discardData">Cancelar</paper-button>
      </div>
    </template>
  </template>

  <script>
    Polymer({
      is: "create-trip",
      properties: {
        user: Object,
        car: Object,
        routes: Array,
        // selectedRoute: Object,
        selected: {
          type: Object,
          value: {}
        },
        destination: Object,
        origins: Array,
        destinations: Array,
        others: Array,
        fakefilters: {
          type: Object,
          value: {},
          readOnly: true
        },
        filters: {
          type: Object,
          value: {origin:{}, destination:{}, wps:[]}
        },
        items: Object,
        mapData: {
          type: Object,
          value: {origin: "Madrid, España", destination: "Dakar, Senegal"}
        },
        legs: Array,
        lastLeg: Object
      },
      observers: ['locSelected("origin", fakefilters.origin)', 'locSelected("destination", fakefilters.destination)', 'timeChanged(filters.time)', 'recalculateDate(selected.origin.order, selected.destination.order, legs.splices, lastLeg, fakefilters.date, fakefilters.time)', 'recalculateDate(others.*.retardation)'],
      timeChanged: function() {
        console.log("time: " + this.filters.time);
      },
      ready: function() {
        this.set('fakefilters.date',  Teranga.today());
      },
      attached: function() {
        console.log("create-trip ready!");
        this.$.rs.reload();
      },
      showCarSelect: function() {
        // console.log(this.$);
        this.$$("#car_select").open();
      },
      hideCarSelect: function() {
        this.$$("#car_select").close();
      },
      // selectCar: function(e, car) {
      //   this.idcar = car.idcar;
      //   this.hideCarSelect();
      // },
      routeSelected: function(e) {
        var routes = this.routes;
        console.log("UNA VEZ");
        if(!e.target.invalid) {
          this.set('selected.route', routes[Teranga.indexOf(e.target.value, routes, "name")]);

          if(!this.selected.route.wps) this.$.rs2.reload();
        }
        else {
          this.set('origins', []);
          this.set('destinations', []);
          this.set('others', []);
        }

        this.set('fakefilters.origin', "");// = "";
        this.set('fakefilters.destination', "");
        // this.$.origInput.validate();
        // this.$.destInput.validate();
      },
      routeLoaded: function(e, route) {
        // this.origins = [];
        // this.destinations = [];
        // this.others = [];
        var wps = route.wps;

        this.origins = [];
        this.destinations = [];
        this.others = [];

        // this.mapData.waypoints = [];
        this.set('mapData.waypoints', []);
        if(wps && wps.length > 1) {
          var first = wps[0].order,
              last = wps[wps.length - 1].order,
              self = this;

          route.wps.forEach(function(loc) {
            var order = loc.order;
            if(order == first) self.push('origins', loc);
            else if(order == last) self.push('destinations', loc);
            else {
              self.push('mapData.waypoints', {location: self.address(loc), stopover: true});
              self.push('others', loc);
            }
          });
        }

        



        // this.origins = origins;
        // this.destinations = destinations;
        // this.others = others;
      },

      selectMarkOrig: function(e, identifier) {
        this.set('fakefilters.origin', identifier);
      },
      selectMarkDest: function(e, identifier) {
        this.set('fakefilters.destination', identifier);
      },
      locSelected: function(type) {
        console.log("BLUR: " + type);
        this.$$("#" + type + "Address").value = "";
        this.set('selected.' + type, 'undefined');

        var rte = this.selected.route;
        if(rte) {
          console.log("BLUR 1");
          var wps = rte.wps;
          if(wps) {
            console.log("BLUR 2: type: " + type + ", filter: " + this.fakefilters[type]);
            var index = Teranga.indexOf(this.fakefilters[type], wps, 'city');
            if(index >= 0) {
              var loc = this.selected.route.wps[index];

              console.log("LLEGA CON BLUR (" + type + ") = " + loc.city);
              this.set('mapData.' + type, this.address(loc));
              this.set('selected.' + type, loc);
            }
          }
        }
      },

      // origSelected: function() {return this.locSelected('origin')},
      // destSelected: function() {return this.locSelected('destination')},

      discardData: function() {
        this.fire('discard');
      },

      today: function() {
        return Teranga.today();
      },

      canAddress: function(loc) {
        return loc && loc.order ? true : false; 
      },

      address: function(wp) {
        return wp.city + "," + wp.country;
      },

      saveData: function() {
        var rte = this.selected.route;
        if(!rte) return;

        var wps = rte.wps,
          selected = this.selected,
          length = wps.length,
          f = this.filters,
          ff = this.fakefilters;

        // console.log("WPSss-----");
        // console.log(wps);
        // ['origin', 'destination'].forEach(function(key) {
        //   var i = -1;
        //   delete f[key];
        //   while(++i < length && !f[key])
        //     if(wps[i].city == ff[key]) {
        //       var loc = f[key] = {};

        //       loc.order = wps[i].order;
        //       loc.address = wps[i].address;
        //     }
        // });

        ['origin', 'destination'].forEach(function(key) {
          var sel = selected[key];
          f[key] = {order: sel.order, address: sel.address, retardation: sel.retardation};
        });

        f.wps = [];
        this.others.forEach(function(loc) {
          // GREAT IF THE attribs GROWS
          // var attribs = ["order", "address", "retardation"];
          // var obj = {}
          // attribs.forEach(function(value) {
          //   obj[value] = loc[value];
          // });
          // f.wps.push(obj);

          // GREATER WITH FEW ATTRIBS
          f.wps.push({order: loc.order, address: loc.address, retardation: loc.retardation});
        });

        var car = this.car;
        if(!car) return;

        console.log("TIENE COCHE");

        f.car = car.idcar;
        f.iduser = this.user.iduser;
        //TODO coste

        var neededAttribs = ["origin", "destination", "wps", "date", "time", "iduser"];
        var neededAttribsLoc = ["order", "address"];

        if(!neededAttribs.every(function(attrib){
          return f[attrib] ? true : false;
        })) return;

        console.log("PASADO EL PRIMER FILTRO");
        console.log(f);
        if(!neededAttribsLoc.every(function(attrib){
          return f.wps.every(function(wp) {
            return wp[attrib] ? true : false;
          }) ? true : false;
        })) return;

          console.log("PASADO EL SEGUNDO FILTRO");

        console.log("SAVE FILTERS: ");
        console.log(this.filters);

      },


      directions: function(e, data) {
        console.log("DIRECTIONS: ");
        console.log(data.response);
        var legs = data.response.routes[0].legs;
        var i = 1;

        this.set('legs', legs.map(function(leg){ return leg; }));
        this.set('lastLeg', this.pop('legs'));
        
        // this.recalculateDate();
        // var date = this.selected.origin.date = new Date(Date.parse(this.fakefilters.date + " " + this.fakefilters.time));

        // var others = this.others;
        // var length = others.length;
        // for(var i = 0; i < length; i++)
        //   date = others[i].date = addTime(date, legs[i].duration.value);

        // this.selected.destination.date = addTime(date, this.lastLeg.duration.value);
      },

      recalculateDate: function() {
        var ff = this.fakefilters;
        var d = ff.date;
        var t = ff.time;

        if(!t || !d) return;

        var date = new Date(Date.parse(d + " " + t));
        console.log("ORIG: " + this.selected.origin);
        this.set('selected.origin.date', date);

        console.log("DATE: ");
        console.log("date: " + this.fakefilters.date + " " + this.fakefilters.time);
        console.log(date);
        var others = this.others;
        var legs = this.legs;
        var length = legs.length;
        for(var i = 0; i < length; i++) {
          var retardation = others[i].retardation;
          console.log("For " + others[i].city + ", retardation: " + retardation);
          console.log(others[i]);
          if(retardation) var retValues = retardation.split(":");
          else retValues = null;
          if(retValues) console.log((((retValues[0] * 60) + retValues[1])));
          date = addTime(date, legs[i].duration.value + (retValues ? ((Number(retValues[0] * 60) + Number(retValues[1])) * 60) : 0));
          this.set('others.' + i + '.date', date);
          console.log(date);
        }

        this.set('selected.destination.date', addTime(date, this.lastLeg.duration.value));
      },

      petsAndPackages: function(pets, pack) {
        return true;
        // return typeof pets != 'undefined' && typeof pack != 'undefined';
      }
    });

    addTime = function(date, seconds) {
      return new Date(date.getTime() + (seconds * 1000));
    }
  </script>
</dom-module>