<link rel="import" href="trip.html">
<link rel="import" href="../elements/trip-table.html">
<!-- <link rel="import" href="../elements/trip-service.html"> -->
<!-- <link rel="import" href="../elements/route-service.html"> -->
<link rel="import" href="../elements/data-service.html">

<link rel="import" href="../elements/car-container.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">

<link rel="import" href="../elements/trip-edit-route-validator.html">
<link rel="import" href="../elements/trip-edit-origin-validator.html">
<link rel="import" href="../elements/trip-edit-destination-validator.html">
<link rel="import" href="../elements/filter-selector.html">
<link rel="import" href="../elements/location-line.html">

<link rel="import" href="../elements/pop-up.html">
<link rel="import" href="../elements/generic-container.html">
<link rel="import" href="../elements/car-content.html">

<link rel="import" href="../bower_components/google-map/google-map.html">
<!-- <link rel="import" href="../bower_components/google-map/google-map-directions.html"> -->
<link rel="import" href="../patched_components/google-map-directions.html">
<link rel="import" href="../elements/google-map-address-marker.html">
<link rel="import" href="../bower_components/google-map/google-map-marker.html">


<dom-module name="create-trip">
  <style>
    .trip-map {
      background: #369;
      width: 30%;
      margin: 10px 2% 10px 0px;
      height: 200px;
      align-self: center;
      display: inline-block;
    }
    .basic-info {
      display: inline-block;
      width: 65%;
      min-width: 200px;
      vertical-align: top;
    }
    .create-trip-input {
      min-width: 160px;
      width: 27%;
      display: inline-block;
      margin-right: 10px;
    }
    .create-trip-input-extra {
      min-width: 50px;
      display: inline-block;
      width: 68%;
      padding: 10px 0 10px 1%;
    }
    .extra-info {

    }
    .column1-3, .column2-3, .column3-3 {
      min-width: 200px;
      height: 170px;
      margin: 2.5%;
      padding: 10px;
      vertical-align: top;
      display: inline-block;
      width: 25%;
      background: #ccc;
      border: 1px solid #aaa;
    }
    .title-locations {
      font-size: 30px;
      font-variant: small-caps;
      font-weight: bold;
      color: #FF6A1D;
    }
    .date-input-travel {
      height: 30px;
      margin-top: 5px;
    }
    .time-zone-travel {
      margin: 10px;
    }
  </style>
  <template>
    <data-service id="rs" type="routes" fetch="list" data="{{routes}}"></data-service>
    <data-service id="ts" type="trips" on-response="onTripCreated"></data-service>

    <datalist id="routes">
      <template is="dom-repeat" items="[[routes]]">
        <option value="[[item.name]]">
      </template>
    </datalist>

    <datalist id="origins">
      <template is="dom-repeat" items="[[origins]]">
        <option value="[[item.city]]">
      </template>
    </datalist>
    <datalist id="destinations">
      <template is="dom-repeat" items="[[destinations]]">
        <option value="[[item.city]]">
      </template>
    </datalist>
    
    <div>
      <div class="trip-map">
        <google-map map="{{map}}" latitude="27.2785308" longitude="-6.7255617" fit-to-markers>
          <google-map-marker latitude="[[legs.0.start_location.G]]" longitude="[[legs.0.start_location.K]]" icon="https://mts.googleapis.com/vt/icon/name=icons/spotlight/spotlight-waypoint-a.png&text=A&psize=16&font=fonts/Roboto-Regular.ttf&color=ff333333&ax=44&ay=48&scale=1" z-index="1">
          </google-map-marker>

          <template is="dom-repeat" items="[[legs]]">
            <google-map-marker latitude="[[item.end_location.G]]" longitude="[[item.end_location.K]]" icon="https://maps.gstatic.com/mapfiles/dd-via.png" z-index="0">
            </google-map-marker>
          </template>

          <google-map-marker latitude="[[lastLeg.end_location.G]]" longitude="[[lastLeg.end_location.K]]" icon="https://mts.googleapis.com/vt/icon/name=icons/spotlight/spotlight-waypoint-b.png&text=B&psize=16&font=fonts/Roboto-Regular.ttf&color=ff333333&ax=44&ay=48&scale=1">
          </google-map-marker z-index="1">
        </google-map>
        <template is="dom-if" if="[[map]]">
          <google-map-directions map="{{map}}" start-address="[[mapData.origin]]" end-address="[[mapData.destination]]" waypoint-addresses="[[mapData.waypoints]]" on-google-map-response="directions" suppress-markers>
          </google-map-directions>

          <template is="dom-repeat" items="[[origins]]">
            <google-map-address-marker map="{{map}}" address="[[address(item)]]" identifier="[[item.city]]" on-selected="selectMarkOrig"></google-map-address-marker>
          </template>
          <template is="dom-repeat" items="[[destinations]]">
            <google-map-address-marker map="{{map}}" address="[[address(item)]]" identifier="[[item.city]]" on-selected="selectMarkDest"></google-map-address-marker>
          </template>
        </template>
      </div>

      <div class="basic-info">
        <div>
          <data-service id="rs2" type="routes" fetch="[[selected.route.idroute]]" data="{{selected.route}}" on-response="routeLoaded"></data-service>
          <trip-edit-route-validator items="[[routes]]" attrib="name" ></trip-edit-route-validator>
          <paper-input id="routeInput" label="Ruta" list="routes" value="{{fakefilters.route}}" validator="trip-edit-route-validator" required auto-validate on-input="routeSelected"></paper-input>
        </div>

        <div>
          <template is="dom-if" if="[[selected.route]]">
            <trip-edit-origin-validator items="[[origins]]" attrib="city" ></trip-edit-origin-validator>
            <paper-input id="origInput" class="create-trip-input" label="De:" list="origins" placeholder="Salida" value="{{fakefilters.origin}}" validator="trip-edit-origin-validator" required auto-validate></paper-input>
            <input id="originAddress" class="create-trip-input-extra" placeholder="Direccion" readonly$="[[!canAddress(selected.origin)]]" value="{{selected.origin.address::input}}">
          </template>
        </div>
        <div>
          <template is="dom-if" if="[[selected.origin]]">
            <trip-edit-destination-validator items="[[destinations]]" attrib="city" ></trip-edit-destination-validator>
            <paper-input id="destInput" class="create-trip-input"  label="A:" list="destinations" placeholder="Llegada" value="{{fakefilters.destination}}" validator="trip-edit-destination-validator" required auto-validate></paper-input>
            <input id="destinationAddress" class="create-trip-input-extra" placeholder="Direccion" value="{{selected.destination.address::input}}" readonly$="[[!canAddress(selected.destination)]]">
          </template>
        </div>

        <div class="layout horizontal">
          <template is="dom-if" if="[[selected.destination]]">
            <div class="layout vertical time-zone-travel">
              <span>Fecha</span>
              <input class="date-input-travel" type="date" value="{{fakefilters.date::input}}" min="[[today()]]" required>
            </div>
            <div class="layout vertical time-zone-travel">
              <span>Hora</span>
              <input class="date-input-travel" type="time" value="{{fakefilters.time::input}}" required>
            </div>
          </template>
        </div>
      </div>

    </div>

    <div class="extra-info">
      <template is="dom-if" if="[[timeSetted(fakefilters.time)]]">
        <div class="column1-3">
          <div class="layout vertical">
            <filter-selector type="pet" selected="{{filters.animals}}"></filter-selector>
            <filter-selector type="package" selected="{{filters.packages}}"></filter-selector>
          </div>
        </div>
      </template>

      <template id="aaa" is="dom-if" if="[[petsAndPackages(filters.*)]]">
        <div class="column2-3">
          <div class="layout vertical">
            <paper-input class="create-trip-input" label="Coche" readonly always-float-label on-keypress="showCarSelect" on-click="showCarSelect" value="[[car.idcar]]"></paper-input>
            <div class="layout vertical">
              <span>Asientos libres</span>
              <paper-slider class="create-trip-input" label="Asientos" always-float-label min="1" max="[[freeSeats(car)]]" value="{{filters.seats}}" pin snaps editable></paper-slider>
            </div>
          </div>
        </div>
      </template>
      
      <data-service id="cc" type="config" fetch="trips" data="{{costs}}" load-on-attach></data-service>
      <template is="dom-if" if="[[car.idcar]]">
        <div class="column3-3">
          <div class="layout vertical">
	    <!--<data-service id="cc" type="config" fetch="trips" data="{{costs}}" load-on-attach></data-service>-->

	    <span>Precio</span>
	    <paper-slider class="price-slider" always-float-label min="1" max="4" pin snaps editable></paper-slider>
	    <div class="layout horizontal">
	      <span class="flex">Asiento</span>
	      <div>x <span>[[userCost(costs.KmCost, legs.splices, lastLeg, car)]]</span>€</div>
	    </div>
	    <div class="layout horizontal">
	      <span class="flex">Paquete</span>
	      <div>x <span>[[packageCost(costs.KmPkCost, legs.splices, lastLeg, car)]]</span>€</div>
	    </div>
          </div>
        </div>
      </template>
    </div>

    <template is="dom-if" if="[[car.idcar]]">
      <div class="vertical-separator"></div>

      <paper-textarea label="Comentario" char-counter maxlength="200" max-rows="10" value="{{filters.comment}}"></paper-textarea>

      <div class="vertical-separator"></div>

      <div class="create-trip-other-locations">
        <span class="title-locations">Trayecto completo</span>
        <location-line location="[[selected.origin]]" stop lock-address></location-line>
        <template is="dom-repeat" items="[[others]]">
          <location-line location="[[item]]" retardation on-retardation-changed="recalculateDate"></location-line>
        </template>
        <location-line location="[[selected.destination]]" stop lock-address arrival></location-line>
      </div>

      <div>
        <div style="width:100px; margin-right: 10px; margin-top: 20px; display: inline-block;">
          <paper-button raised class="primary-button" on-click="saveData">Guardar</paper-button>
        </div>
        <div style="width:100px; margin-top: 20px; display: inline-block;">
        <paper-button raised class="secondary-button" on-click="discardData">Cancelar</paper-button>
        </div>
      </div>
    </template>
    <pop-up id="car_select" with-backdrop>
      <car-container iduser="[[user.iduser]]" data="{{user.cars}}" selected="{{car}}" on-select="hideCarSelect" allow-new load on-discard="discardCarCreation"></car-container>
      <!-- <generic-container>
        <car-content iduser="[[user.iduser]]" data="[[user.cars]]" selected="{{car}}" on-select="hideCarSelect" load></car-content>
      </generic-container> -->
    </pop-up>

    <paper-toast id="tCreated" text="Creación de viaje fallida."></paper-toast>
  </template>

  <script>
    Polymer({
      is: "create-trip",
      properties: {
        user: Object,
        car: {
          type: Object,
          value: {seats: 3}
        },
        routes: Array,
        // selectedRoute: Object,
        selected: {
          type: Object,
          value: {}
        },
        destination: Object,
        origins: Array,
        destinations: Array,
        others: Array,
        fakefilters: {
          type: Object,
          value: {}
//           readOnly: true
        },
        filters: {
          type: Object,
          value: {wps:[]}
        },
        items: Object,
        mapData: {
          type: Object,
          value: {origin: "Madrid, España", destination: "Dakar, Senegal"}
        },
        legs: Array,
        lastLeg: Object,
        costs: Object
      },
      observers: ['locSelected("origin", fakefilters.origin)', 'locSelected("destination", fakefilters.destination)', 'timeChanged(filters.time)', 'recalculateDate(selected.origin.idlocation, selected.destination.idlocation, legs.splices, lastLeg, fakefilters.date, fakefilters.time)', 'recalculateDate(others.*.retardation)'],
      
      clearValues: function() {
// 	console.log("-------..-----------");
        this.set("car", {seats:3});
//         this.routes = [];
// 	console.log("0");
        this.set("selected", {});
//         console.log("1");
        this.set("origins", []);
//         console.log("2");
        this.set("destinations", []);
//         console.log("3");
        this.splice("others", 0, this.others.length);
//         console.log("4");
        this.set("fakefilters", {});
//         console.log("5");
        this.set("filters", {wps:[], animals:null, packages:null});
//         this.set("mapData", 'undefined');
//         this.set("mapData", {});
// this.mapData = {};
        console.log("6");
//         this.set("legs", 'undefined');
//         this.set("legs", null);
// this.legs = undefined;
        console.log("7");
//         this.set("lastLegs", 'undefined');
//         this.set("lastLeg", null);
// this.lastLeg = undefined;
        console.log("8");
        
//         delete this.filters.animals;
//         delete this.filters.packages;
//         this.set("filters.wps", []);
        
//         this.$.aaa.render();
//         this.set("filters.animals", undefined);
//         this.set("filters.packages", undefined);
        console.log("LLEGA O NO");
      },
      freeSeats: function(car) {
        var free = car.seats - 1;
        this.set('filters.seats', free);
        return free;
      },
      timeChanged: function() {
        console.log("time: " + this.filters.time);
      },
      ready: function() {
        this.set('fakefilters.date',  Teranga.today());
      },
      attached: function() {
        console.log("create-trip ready!");
        this.$.rs.reload();
      },
      showCarSelect: function() {
        // console.log(this.$);
        this.$.car_select.open();
        // this.$$("#car_select").open();
      },
      hideCarSelect: function() {
        this.$.car_select.close();
        // this.$$("#car_select").close();
      },
      discardCarCreation: function(e) {
        e.stopPropagation();
      },
      // selectCar: function(e, car) {
      //   this.idcar = car.idcar;
      //   this.hideCarSelect();
      // },
      routeSelected: function(e) {
        var routes = this.routes;
        console.log("UNA VEZ");
        if(!e.target.invalid) {
          this.set('selected.route', routes[Teranga.indexOf(e.target.value, routes, "name")]);

          if(!this.selected.route.wps) this.$.rs2.reload();
        }
        else {
          this.set('origins', []);
          this.set('destinations', []);
          this.set('others', []);
        }

        this.set('fakefilters.origin', "");// = "";
        this.set('fakefilters.destination', "");
        // this.$.origInput.validate();
        // this.$.destInput.validate();
      },
      routeLoaded: function(e, route) {
        // this.origins = [];
        // this.destinations = [];
        // this.others = [];
        var wps = route.wps;

        this.origins = [];
        this.destinations = [];
        this.others = [];

        // this.mapData.waypoints = [];
        this.set('mapData.waypoints', []);
        if(wps && wps.length > 1) {
          var first = wps[0].order,
              last = wps[wps.length - 1].order,
              self = this;

          route.wps.forEach(function(loc) {
            var order = loc.order;
            if(order == first) self.push('origins', loc);
            else if(order == last) self.push('destinations', loc);
            else {
              self.push('mapData.waypoints', {location: self.address(loc), stopover: true});
              self.push('others', loc);
            }
          });
        }

        



        // this.origins = origins;
        // this.destinations = destinations;
        // this.others = others;
      },

      selectMarkOrig: function(e, identifier) {
        this.set('fakefilters.origin', identifier);
      },
      selectMarkDest: function(e, identifier) {
        this.set('fakefilters.destination', identifier);
      },
      locSelected: function(type) {
        console.log("BLUR: " + type);
        var element = this.$$("#" + type + "Address");
        if(!element) return; // PATCH - not tested
        
        element.value = "";
        this.set('selected.' + type, 'undefined');

        var rte = this.selected.route;
        if(rte) {
          console.log("BLUR 1");
          var wps = rte.wps;
          if(wps) {
            console.log("BLUR 2: type: " + type + ", filter: " + this.fakefilters[type]);
            var index = Teranga.indexOf(this.fakefilters[type], wps, 'city');
            if(index >= 0) {
              var loc = this.selected.route.wps[index];

              console.log("LLEGA CON BLUR (" + type + ") = " + loc.city);
              this.set('mapData.' + type, this.address(loc));
              this.set('selected.' + type, loc);
            }
          }
        }
      },

      // origSelected: function() {return this.locSelected('origin')},
      // destSelected: function() {return this.locSelected('destination')},

      discardData: function() {
	this.clearValues();
        this.fire('discard');
      },

      today: function() {
        return Teranga.today();
      },

      canAddress: function(loc) {
        return loc && loc.idlocation ? true : false; 
      },

      address: function(wp) {
        return wp.city + "," + wp.country;
      },

      saveData: function() {
        var rte = this.selected.route;
        if(!rte) return;

        var wps = rte.wps,
          selected = this.selected,
          others = this.others,
          legs = this.legs,
          f = this.filters,
          ff = this.fakefilters,
          costs = this.costs;

        // console.log("WPSss-----");
        // console.log(wps);
        // ['origin', 'destination'].forEach(function(key) {
        //   var i = -1;
        //   delete f[key];
        //   while(++i < length && !f[key])
        //     if(wps[i].city == ff[key]) {
        //       var loc = f[key] = {};

        //       loc.order = wps[i].order;
        //       loc.address = wps[i].address;
        //     }
        // });

        // ['origin', 'destination'].forEach(function(key) {
        //   var sel = selected[key];
        //   f[key] = {location: sel.location, address: sel.address, date: sel.date};
        // });
        // var mult = this.costs['KmCost'];
        // var multpk = this.costs['KmPkCost'];

        f.wps = [];
        
        var prepare = function(loc, leg) {
          if(leg) {
            var wp = f.wps[f.wps.length - 1];
            var ccost = Number(wp.cost) + (costs['KmCost'] * leg.distance.value / 1000.0);
            var cpkcost = Number(wp.pkcost) + (costs['KmPkCost'] * leg.distance.value / 1000.0);
          }
          console.log("Ccost: " + ccost + ", cpkcost: " + cpkcost);
          f.wps.push({location: loc.idlocation, address: loc.address, date: new Date(loc.date.getTime() - loc.date.getTimezoneOffset() * 60000), stop: loc.stop, cost:Number(ccost ? ccost.toFixed(2) : 0), pkcost:Number(cpkcost ? cpkcost.toFixed(2) : 0)});
        };

        
        // var sel = selected.origin;
        // f.wps = [{location: sel.idlocation, address: sel.address, date: sel.date, cost:0}];
        prepare(selected.origin);

        
        var oLength = others.length;
        
        for(var i = 0; i < oLength; i++) {
          // ccost += (mult * legs[i].distance.value / 1000.0);
          // cpkcost += (multpk * legs[i].distance.value / 1000.0);
          prepare(others[i], legs[i]);
          // ccost = others[i].cost;
          // cpkcost = others[i].pkcost;
          // f.wps.push({location: loc.idlocation, address: loc.address, date: loc.date, stop: loc.stop, cost:ccost});
        }
        // this.others.forEach(function(loc) {
        //   // GREAT IF THE attribs GROWS but need to do something with location and idlocation then
        //   // var attribs = ["location", "address", "date", "stop"];
        //   // var obj = {}
        //   // attribs.forEach(function(value) {
        //   //   obj[value] = loc[value];
        //   // });
        //   // f.wps.push(obj);

        //   // GREATER WITH FEW ATTRIBS
        //   f.wps.push({location: loc.idlocation, address: loc.address, date: loc.date, stop: loc.stop, cost:});
        // });
        // sel = selected.destination;
        // ccost += mult * this.lastLeg.distance.value / 1000.0;
        // cpkcost += multpk * this.lastLeg.distance.value / 1000.0;
        prepare(selected.destination, this.lastLeg);
        // f.wps.push({location: sel.idlocation, address: sel.address, date: sel.date, cost:ccost});

        var car = this.car;
        if(!car) return;

        f.wps.forEach(function(wp) {
          wp.stop = wp.stop ? 1 : 0;
        });

        console.log("--- EMPIEZAN LOS FILTROS ---");

        f.car = car.idcar;
        f.driver = this.user.iduser;

        var neededAttribs = ["wps", "driver", "car", "seats"]; // ALL OF THEM MUST BE BIGGER THAN 0 (ATTENTION TO THE FIRST FILTER)
        var neededAttribsLoc = ["location", "address", "date", "cost"];

        console.log("DATOS a guardar: ");
        console.log(f);
        console.log("1. EJECUTANDO EL PRIMER FILTRO... ");
        if(!neededAttribs.every(function(attrib) {
          if(!f[attrib]) console.log("Falta: " + attrib);
          return f[attrib] ? true : false;
        })) return;

        
        console.log("2. EJECUTANDO EL SEGUNDO FILTRO... ");
        if(!neededAttribsLoc.every(function(attrib){
          return f.wps.every(function(wp) {
            if(typeof wp[attrib] !== undefined) console.log("Falta: " + attrib);
            return typeof wp[attrib] !== undefined;
          });
        })) return;

        console.log("--- TERMINAN LOS FILTROS ---");

        var ts = this.$.ts;
        ts.update = f;
        ts.saveData(true);

        this.clearValues();
      },

      onTripCreated: function(e, data) {
        if(data.id) this.fire('trip-created', data);
        else this.$.tFailed.show();
      },

      directions: function(e, data) {
        console.log("DIRECTIONS: ");
        console.log(data.response);
        var legs = data.response.routes[0].legs;
        var i = 1;

        this.set('legs', legs.map(function(leg){ return leg; }));
        this.set('lastLeg', this.pop('legs'));
        
        // this.recalculateDate();
        // var date = this.selected.origin.date = new Date(Date.parse(this.fakefilters.date + " " + this.fakefilters.time));

        // var others = this.others;
        // var length = others.length;
        // for(var i = 0; i < length; i++)
        //   date = others[i].date = addTime(date, legs[i].duration.value);

        // this.selected.destination.date = addTime(date, this.lastLeg.duration.value);
      },

      recalculateDate: function() {
        var ff = this.fakefilters;
        var d = ff.date;
        var t = ff.time;

        if(!t || !d) return;

        console.log("OFFSET: ");
        console.log(this.selected.origin);
        var dateOffset = this.selected.origin.utcoffset;
        var date = new Date(Date.parse(d + " " + t));
        date.setTime(date.getTime() - ((0/**date.getTimezoneOffset() - (dateOffset * 60)**/) * 60000));

        console.log("ORIG: " + this.selected.origin);
        this.set('selected.origin.date', date);

        console.log("DATE: ");
        console.log("date: " + this.fakefilters.date + " " + this.fakefilters.time);
        console.log(date);
        var others = this.others;
        var legs = this.legs;
        if(!legs) return; //Patch - not tested

        var length = legs.length;
        for(var i = 0; i < length; i++) {
          var loc = others[i];
          var retardation = loc.retardation;
          console.log("For " + others[i].city + ", retardation: " + retardation);
          console.log(others[i]);
          if(retardation) var retValues = retardation.split(":");
          else retValues = null;
          if(retValues) console.log((((retValues[0] * 60) + retValues[1])));
          date = addTime(date, ((loc.utcoffset  - dateOffset) * 3600) + legs[i].duration.value + (retValues ? ((Number(retValues[0] * 60) + Number(retValues[1])) * 60) : 0));
          this.set('others.' + i + '.date', date);
          console.log(date);
        }

        this.set('selected.destination.date', addTime(date, this.lastLeg.duration.value));
      },

      timeSetted: function(time) {
        return time ? true : false;
      },
      petsAndPackages: function(filters) {
        var f = this.filters;
        console.log("ME CAGO");
        console.log(f);
        return (f.animals || f.animals === "") && (f.packages || f.packages === "");
//         return pets !== 'undefined' && pack !== 'undefined';
        // return typeof pets != 'undefined' && typeof pack != 'undefined';
      },

      userCost: function() {
        console.log("userCost");
        return this.cost("Km");
      },
      packageCost: function() {
        return this.cost("KmPk");
      },
      cost: function(type) {
        console.log(this.costs);
        if(!this.costs) return;
        
        console.log("cost for: " + type);
        
        var mult = this.costs[type + "Cost"];
        var cost = 0;
        this.legs.forEach(function(leg) {
          cost += (mult * leg.distance.value / 1000.0);
        });
        cost += mult * this.lastLeg.distance.value / 1000.0;

        return cost.toFixed(2);
      }
    });

    addTime = function(date, seconds) {
      return new Date(date.getTime() + (seconds * 1000));
    }
  </script>
</dom-module>