<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="../elements/map-searcher.html">
<link rel="import" href="../elements/location-info.html">
<link rel="import" href="../elements/info-box.html">
<!-- <link rel="import" href="../views/register.html"> -->
<!-- <link rel="import" href="../elements/notification-popup.html"> -->

<dom-module name="home-view">
  
  <style>
    google-map {
      height: 60%;
      width: 70%;
    }
    .center {
      height: 100%;
      width: 100%;
    }
    .start-image {
      border: 1px solid #ccc;
      margin: 10px;
      padding: 15px;
      background: #fff;
      box-shadow: 0px 0px 10px 0px #999;
      width: 70%;
    }
  </style>
  <template>

    <!-- <register-view></register-view> -->
    <!-- <notification-popup></notification-popup> -->

    <div style="text-align: center;">
      <img class="start-image" src="../images/terangago.jpg"/>
    </div>
    

    <div>
      <info-box on-selected="goToPage" page="profile">
        <img src="../images/package.png"/>
        <h3>Envía paquetes</h3>
        <p>Aprovecha para que lleven tu paquetería pequeña entre España y Senegal</p>
      </info-box>

      <info-box button="Busca ahora" on-selected="goToPage" page="trips">
        <img src="../images/world-icon.png"/>
        <h3>Encuentra el viaje que necesitas</h3>
        <p>Y ahorra costes</p>
      </info-box>

      <info-box class="center">
         <img src="../images/money-icon.png"/>
        <h3>Ahorra en tus viajes</h3>
        <p>Encuentra gente con la que compartir tus viajes y comparte costes.</p>
      </info-box>

    </div>

    <div>
      <location-info right></location-info>
      <location-info></location-info>
    </div>
      
  </template>
  <script>
    Polymer({
      is:"home-view",
      properties: {
        session: Object
      },

      goToPage: function(e, pag) {
        page("/" + pag);
      }

    });
  </script>
</dom-module>