<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="../elements/map-searcher.html">
<link rel="import" href="../elements/location-info.html">
<link rel="import" href="../elements/info-box.html">
<link rel="import" href="../views/register.html">

<dom-module name="home-view">
  
  <style>
    google-map {
      height: 60%;
      width: 70%;
    }
    .center {
      height: 100%;
      width: 100%;
    }
  </style>
  <template>

    <register-view></register-view>

    <map-searcher></map-searcher>

    <div>
      <info-box button="Regístrate">
        <img src="../images/user.png"/>
        <h3>¿Eres nuevo por aquí?</h3>
        <p>Registrate y descubre un nuevo mundo.</p>-->
      </info-box>

      <info-box class="center">
         <img src="../images/user.png"/>
        <h3>Totalmente gratuito</h3>
        <p>Encuentra cientos de tesoros sin gastar nada.</p>
      </info-box>

      <info-box button="Busca ahora">
        <img src="../images/user.png"/>
        <h3>Descubre nuevos lugares</h3>
        <p>Y cambia tu forma de ver el mundo.</p>
      </info-box>
    </div>

    <div>
      <location-info right></location-info>
      <location-info></location-info>
    </div>
      
  </template>
  <script>
    Polymer({
      is:"home-view",
      properties: {
        session: Object
      }

    });
  </script>
</dom-module>