<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<!--     <link rel="import" href="bower_components/iron-scaffold/iron-scaffold.html"> -->
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">

<link rel="import" href="../bower_components/paper-styles/paper-styles-classes.html">

<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">


<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<!--     <link rel="import" href="bower_components/flatiron-director/flatiron-director.html"> -->
<!-- <link rel="import" href="../bower_components/font-roboto/roboto.html"> -->
<!-- <link rel="import" href="../bower_components/iron-a11y-keys/iron-a11y-keys.html"> -->
<!-- <link rel="import" href="../bower_components/iron-ajax/iron-ajax.html"> -->
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<!-- <link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html"> -->

<link rel="import" href="../styles/app-theme.html">

<link rel="import" href="../elements/login-box.html">
<!-- <link rel="import" href="../elements/todelete.html"> -->

<link rel="import" href="../elements/server-config.html">

<link rel="import" href="home.html">
<link rel="import" href="trips.html">
<link rel="import" href="profile.html">
<link rel="import" href="tracking.html">

<link rel="import" href="create-trip.html">

<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../elements/pop-up.html">

<link rel="import" href="../elements/data-service.html">

<link rel="import" href="../elements/notification-popup.html">
<link rel="import" href="../elements/account-popup.html">

<!-- <link rel="import" href="../elements/login-box.html"> -->

<dom-module name="main-view" on-logout="logout">
  <style>
  	#popupIcons {
  		height: 100%;
  	}
  </style>
  
  <template id="app">
    
  	<server-config></server-config>
    <!-- Route controller. -->
<!--       <flatiron-director route="{{route}}" autoHash></flatiron-director> -->
    
    <!-- Keyboard nav controller. -->
<!--    <iron-a11y-keys target="{{parentElement}}"
	      keys="up down left right"
	      on-keys-pressed="{{keyHandler}}">
    </iron-a11y-keys>-->
    
    <!-- Dynamic content controller -->
<!--    <iron-ajax auto id="ajax" url="{{selectedPage.page.url}}" handleAs="document"
	      on-iron-response="{{onResponse}}">
    </iron-ajax>-->
    
    <iron-localstorage name="session3" value="{{session}}" on-iron-localstorage-load-empty="noStorage"></iron-localstorage>
    
    <data-service id="as" type="auth" data="{{session.user}}" on-response="authTreat"></data-service>

    <notification-popup id="np" opened="{{openPopups.np}}" index="1" iduser="[[session.user.iduser]]" on-selected="notifSelected"></notification-popup>
    <account-popup id="ap" opened="{{openPopups.ap}}" on-logout="logout" on-show-site="setPage" index="0"></account-popup>


    <paper-drawer-panel id="paperDrawerPanel">
      <!-- Drawer Scroll Header Panel -->
      <paper-scroll-header-panel drawer fixed>
				<!-- Drawer Toolbar -->
				<paper-toolbar id="drawerToolbar" class="title-bar">
				  <!-- <span class="paper-font-title">Teranga Go!</span> -->
				  <img src="../images/header_teranga.jpg">
				</paper-toolbar>
				
				<!-- Drawer Content -->
				<paper-menu attr-for-selected="route-hash" selected="{{route}}" on-iron-select="menuItemSelected" selectedClass="selected">
				  <template is="dom-repeat" items="{{pages}}" as="page">
				    <a class="menu-item" route-hash="{{page.hash}}" href="{{page.url}}">
				      <!-- <iron-icon icon="label-outline"></iron-icon> -->
				      <span>{{page.name}}</span>
				      <!-- <iron-icon style="float:right" icon="label"></iron-icon> -->

				    </a>
			<!--	    <paper-item hash="{{page.hash}}">
				      <iron-icon icon="label-outline"></iron-icon>
				      <a href="#{{page.hash}}">{{page.name}}</a>
				    </paper-item>-->
				  </template>
				</paper-menu>
      </paper-scroll-header-panel>

      <!-- Main Area -->
      <!-- <paper-header-panel main mode="waterfall"> -->
      <paper-scroll-header-panel main fixed>
				<!-- Main Toolbar -->
				<paper-toolbar id="mainToolBar" class="title-bar">
			  <!-- 	<div class="flex">{{selectedPage.page.name}}</div> -->
				  <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>
				  <span class="flex"></span>
				  
				  <!-- Toolbar icons -->
				  <template is="dom-if" if="[[session.user]]">
				  	<iron-selector id="popupIcons" class="layout horizontal justified" attr-for-selected="name" selected="{{selectedIcon}}" on-iron-select="updatePopups" selected-class="selected">
				  		<div name="a"></div>
						  <div name="notif" class="paper-icon-header-div layout horizontal center" on-tap="toggleNotif">
						  	<paper-icon-button class="paper-icon-header" icon="menu"></paper-icon-button>
						  </div>
						  <div name="account" class="paper-icon-header-div layout horizontal center" on-tap="toggleAccount">
				  			<paper-icon-button class="paper-icon-header" icon="account-circle"></paper-icon-button>
						  </div>
					  </iron-selector>
				  </template>

				  <template is="dom-if" if="[[!session.user]]">
					  <paper-button class="paper-icon-header layout horizontal center" on-click="showLogin">Loguearse</paper-button>
					  <paper-button class="layout horizontal center paper-icon-header">Registrarse</paper-button>
				  </template>
				  
				  <!-- Application name -->
				  <!-- <div class="middle paper-font-display2 app-name"></div> -->
				  
				  <!-- Application sub title -->
				  <!-- <div class="bottom title"></div> -->
				</paper-toolbar>
				
				<!-- Main Content -->
				<div id="body-content">
				  <iron-pages id="pages" attr-for-selected="hash" selected="{{route}}">
				    <section hash="home">
				    	<!-- <template> -->
				      	<home-view session="{{session}}" route="{{route}}"></home-view>
				      <!-- </template> -->
				    </section>
				    <section hash="profile">
				    	<!-- <template> -->
				      	<profile-view session="{{session}}" route="{{route}}" on-show-login="showLogin"></profile-view>
				      <!-- </template> -->
				    </section>
				    <section hash="trips">
				    	<!-- <template> -->
				      	<trips-view session="{{session}}" route="{{route}}"></trips-view>
				      <!-- </template> -->
				    </section>
				    <section hash="tracking">
				    	<!-- <template> -->
				      	<tracking-view session="{{session}}" route="{{route}}" idpackage="[[params.idpackage]]"></tracking-view>
				      <!-- </template> -->
				    </section>
				    <section hash="other">
				    	<other-profile-view session="[[session]]" route="{{route}}" iduser="[[params.iduser]]"></other-profile-view>
				    </section>
				    <!-- <section hash="createTrip">
				    	<create-trip user="[[session.user]]"></create-trip>
				    </section> -->
				  </iron-pages>
				</div>
			<!--       </iron-scaffold> -->
      </paper-scroll-header-panel>
    </paper-drawer-panel>
    <!-- <login-box class$="{{displayLogin}}" session="{{session}}"></login-box> -->
		<!-- <login-box session="{{session}}"></login-box> -->
    <pop-up id="login" with-backdrop>
    <!-- <paper-dialog id="login" with-backdrop> -->
    	<login-box on-login="login"></login-box>
  	<!-- </paper-dialog> -->
    </pop-up>
<!--     <iron-localstorage name="session" value="{{session}}"></iron-localstorage> -->
  </template>
  
  <script>
    Polymer({
      is: "main-view",
      properties: {
				route: {	//¿¿¿TO POSSIBLY REMOVE IF USING FLATIRON OR... ¿PAGE.JS? ????
				  type: String,
				  value: "home",
				  observer: 'routeChanged'
				},
				params: Object,
				// displayLogin: {
				//   type: String,
				//   value: "hidden"
				// },
				pages: {
				  type: Object,
				  value: [
				    {name: 'Inicio', hash: 'home', url: '/'},
				    {name: 'Viajes', hash: 'trips', url: '/trips'},
				    {name: 'Perfil', hash: 'profile', url: '/profile'},
				    {name: 'Tracking', hash: 'tracking', url: '/tracking'}
				  ]
				},
				session: {
				  type: Object,
				  value: {}
				},
				selectedIcon: {
					type: String
					// observer: '_selectedIconChanged'
				},
				openPopups: {
					type: Object,
					value: {},
					observer: '_openPopupsChanged'
				}
      },

      observers: ['_openPopupsChanged(openPopups.*)'],
      
      ready: function() {
			// 	if(!this.session) this.session = {};
			// 	this.session = null;
      },
      noStorage: function() {
      	if(!this.session) this.set('session', {});
      },
      
    //   loginIconClicked: function(e, detail, sender) {
				// console.log("loginIconClicked");
				// this.displayLogin = this.displayLogin == "" ? "hidden" : "";
				// console.log("DisplayLogin: " + this.displayLogin);
    //   },
      
//       keyHandler: function(e, detail, sender) {
// 	var pages = Polymer.dom(document).querySelector('#pages');
// 
// 	switch (detail.key) {
// 	  case 'left':
// 	  case 'up':
// 	    pages.selectPrevious();
// 	    break;
// 	  case 'right':
// 	  case 'down':
// 	    pages.selectNext();
// 	    break;
//   // 	case 'space':
//   // 	  detail.shift ? pages.selectPrevious() : pages.selectNext();
//   // 	  break;
// 	}
//       },
      
      menuItemSelected: function() {
				console.log("menuItemSelected");
			// 	var drawerPanel = Polymer.dom(this).querySelector("#paperDrawerPanel");
				var drawerPanel = this.$.paperDrawerPanel;
				if(drawerPanel.narrow) drawerPanel.closeDrawer();
			// 	console.log(this.session);
      },

      setPage: function(e, route) {
      	// this.set('route', route);
      	page("/" + route);
      	this.closePopups();
      },

      routeChanged: function() {
      	if(this.route === "profile") {
      		var profile = this.$$("profile-view");
      		profile.edit = false;
      		profile.page = "profile";
      	} else if(this.route === "tracking") this.$$("tracking-view").back();
      },

      showLogin: function() {
      	this.$.login.open();
      },

      toggleAccount: function() {
      	this.$.ap.toggle();
      	// if(!this.$.ap.opened) this.set('selectedIcon', "");
      },

      toggleNotif: function() {
      	this.$.np.toggle();
      	// if(!this.$.np.opened) this.set('selectedIcon', "");
      },

      register: function(e, user) {
      	console.log("REGISTERING WITH DATA:");
      	console.log(user);
      },

      login: function(e, authData) {
				e.preventDefault();

      	console.log("authData");
      	console.log(authData);

      	this.$.as.set('update', authData);
      	this.$.as.saveData(true);
      },

      authTreat: function(e, message) {
      	console.log("AUTH THINGS");
      	// console.log(e);
      	console.log(message);
      	console.log(this.session.user);
      	if(message.iduser) this.$.login.close();
      	else console.log("ERROR on login!, please contact with an administrator");
      },

      logout: function(e) {
      	e.preventDefault();
      	delete this.session.user;
      	this.session = {};

      	this.closePopups();
      },

      closePopups: function() {
      	this.$.ap.close();
      	this.$.np.close();
      },
      updatePopups: function() {
      	if(!this.$.ap.opened && !this.$.np.opened) this.set('selectedIcon', "");
      },

      notifSelected: function(e, notif) {
      	page(Teranga.notifPageFor(notif.type).replace("%e", notif.emitter));
      	this.closePopups();
      },

      _openPopupsChanged: function() {
      	this.updatePopups();
      }
    });
  </script>
</dom-module>