<link rel="import" href="../bower_components/paper-input/paper-input.html">
<!-- <link rel="import" href="../bower_components/iron-icon-button/iron-icon-button.html"> -->

<link rel="import" href="../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="../bower_components/neon-animation/animations/slide-from-right-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/slide-right-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/slide-from-left-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/slide-left-animation.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<!-- <link rel="import" href="../bower_components/iron-overlay-behavior/iron-overlay-behavior.html"> -->
<!-- <link rel="import" href="../bower_components/iron-overlay-behavior/iron-overlay-backdrop.html"> -->

<link rel="import" href="../elements/user-info.html">
<link rel="import" href="../elements/car-info.html">
<link rel="import" href="../elements/trip-info.html">
<link rel="import" href="../elements/container-box.html">
<link rel="import" href="../elements/travel-box.html">
<link rel="import" href="../elements/comment-box.html">
<link rel="import" href="../elements/stars-rating.html">
<link rel="import" href="../elements/car-box.html">
<link rel="import" href="../elements/car-edit.html">

<link rel="import" href="../elements/trip-service.html">
<link rel="import" href="../elements/assessment-service.html">

<dom-module name="profile-view">

  <template>


      <user-service id="service" data="{{session.user}}" update="[[update]]" fetch="[[session.user.iduser]]"></user-service>

      <template id="profileTemplate" is="dom-if" if="[[session.user]]">
        <div class="margin-block layout horizontal">
          <div class="layout vertical profile-a">
            <div class="profile-photo-super">
              <img class="profile-photo" src="../images/full-star.png"/>
              <template is="dom-if" if="[[edit]]">
                <div class="profile-photo-div"><img src="../images/edit.png"></div>
              </template>
            </div>
            <template is="dom-if" if="[[showdriver]]">
              <div class="profile-stars" onclick=""><stars-rating score="[[session.user.karma]]"></stars-rating></div>
            </template>
          </div>

          <div class="layout vertical profile-b">
            <div class="profile-name"><span>[[session.user.name]]</span> <span>[[session.user.surnames]]</span></div>
            <div class="profile-age"><span>XX</span> años</div>
            <template is="dom-if" if="[[edit]]">
              <form>
                <table style="width:100%">
                  <tr>
                    <td>E-mail:</td>
                    <td><input type="text" name="email" value="{{update.email::input}}"></td>
                  <tr> 
                    <td>Teléfono:</td> 
                    <td><input type="text" name="phone" value="{{update.phone::input}}"></td>
                  </tr>
                  <tr> 
                    <td>Contraseña:</td>
                    <td><input type="password" name="pass"></td>
                  </tr>
                  <tr> 
                    <td>Repetir contraseña:</td>
                    <td><input type="password" name="pass2" value="{{update.password::input}}"></td>
                  </tr>
                  <tr> 
                    <td>Carnet de conducir:</td>
                    <td><input type="checkbox" name="carnet" value="{{update.carnet::input}}"></td> 
                  </tr>
                </table>
              </form>
            </template>
          </div>
          <div class="profile-c layout self-end profile-buttons">

            <template is="dom-if" if="[[!edit]]">
              <button class="primary-button">Crear viaje</button>
              <div class="space"></div>
              <button class="secondary-button" on-click="editProfile">Editar perfil</button>
            </template>

            <template is="dom-if" if="[[edit]]">
              <button class="primary-button" on-click="saveProfile">Guardar cambios</button>
              <div class="space"></div>
              <button class="secondary-button" on-click="cancelEdit">Cancelar</button>
            </template>

          </div>
        </div>

        <div class="vertical-separator"></div>

        <template id="moreInfo" is="dom-if" if="[[!edit]]">
          <container-box on-reload="reloadTrips" name="Viajes">
            <trip-service user="[[session.user.iduser]]" response="{{session.user.trips}}" fetch="all"></trip-service>

            <template id="tripsRepeat" is="dom-repeat" items="[[session.user.trips]]" as="trip">
              <travel-box departure="[[trip.departure]]" arrival="[[trip.arrival]]" day="[[day(trip.dtime)]]" month="[[month(trip.dtime)]]" driver="[[trip.driving]]" travelurl="/"></travel-box>
            </template>

<!--             <travel-box departure="Granada" arrival="Dogo" day="23" month="Junio" driver="Carmen" travelurl="/"></travel-box>
            <travel-box departure="Granada" arrival="Dogo" day="23" month="Junio" driver="Carmen" travelurl="/"></travel-box>
            <travel-box departure="Granada" arrival="Dogo" day="23" month="Junio" driver="Carmen" travelurl="/"></travel-box>
            <travel-box departure="Granada" arrival="Dogo" day="23" month="Junio" driver="Carmen" travelurl="/"></travel-box>
            <travel-box departure="Granada" arrival="Dogo" day="23" month="Junio" driver="Carmen" travelurl="/"></travel-box>
            <travel-box departure="Granada" arrival="Dogo" day="23" month="Junio" driver="Carmen" travelurl="/"></travel-box>
            <travel-box departure="Granada" arrival="Dogo" day="23" month="Junio" driver="Carmen" travelurl="/"></travel-box>
            <travel-box departure="Granada" arrival="Dogo" day="23" month="Junio" driver="Carmen" travelurl="/"></travel-box> -->
            <!-- <car-box model="Renault" idcar="3212ED" seats="3" hp="200"></car-box> -->
          </container-box>
          
          <template is="dom-if" if="[[showdriver]]">
            <container-box name="Opiniones">
              <assessment-service user="[[session.user.iduser]]" response="{{session.user.assessments}}" fetch="all"></assessment-service>

              <template id="assessmentsRepeat" is="dom-repeat" items="[[session.user.assessments]]" as="assessment">
                <comment-box image="[[getImageUrl(assessment.avatar)]]" profileurl="/" score="[[assessment.karma]]" comment="[[assessment.comment]]"></comment-box>
              </template>
            </container-box>
          </template>
        </template>

        <template is="dom-if" if="[[edit]]">
          <div class="car-container">
            <car-box newcar="true"></car-box> 
            <car-box newcar="true"></car-box> 
            <car-box newcar="true"></car-box> 
            <car-box newcar="true"></car-box> 
            <car-box newcar="true"></car-box> 
            <car-box newcar="true"></car-box> 
            <car-box newcar="true"></car-box> 
          </div>

          <!-- <iron-overlay-backdrop> -->
            <car-edit newcar="true"></car-edit>
          <!-- </iron-overlay-backdrop> -->
        </template>
      </template>

      <template is="dom-if" if="[[!session.user]]">
	      <p>Please, log-in</p>
      </template>
  </template>

  <script>
    Polymer({
      is: "profile-view",
      properties: {
      	session: {
      	  type: Object,
      	  notify: true
          // observer: 'sessionChanged'
      	},
      	selected: {
      	  type: String,
      	  value: "main"
      	},
        edit: {
          type: Boolean,
          value: false,
          observer: 'updateShow'
        },
        trips: {
          type: Object,
          value: []
        },
        showdriver: {
          type: Boolean,
          value: false
        },
        update: {
          type: Object,
          value: {}
        }
      },

      observers: ['tripsUpdated(session.user.trips)', 'updateShow(session.user)'],

      editProfile: function() {

        var update = {};
        var user = this.session.user;
        var modifiables = ["email", "phone", "carnet"];
        for(var i in modifiables) {
          var value = modifiables[i];
          update[value] = user[value];
        }
      //  Object.keys(modifiables).forEach(function(key) {
      //    dataBackup[key] = user[key];
      //  });
        this.update = update;

        this.edit = true;
      },
      cancelEdit: function() {
        this.edit = false;
      },
      saveProfile: function() {
        console.log("saveChanges");
        var user = this.session.user;
        var update = this.update;
        //TODO only do this if the change has been really made
        Object.keys(update).forEach(function(key) {
          user[key] = update[key];
        });
        

        this.$$("user-service").saveData();
        this.edit = false;
      },
      updateShow: function() {
        if(!this.edit && this.session && this.session.user && this.session.user.driver) this.showdriver = true;
        else this.showdriver = false;
      },
      tripsUpdated: function() {
        // if(this.session && this.session.user && this.session.user.trips) {
          
        //   console.log("---------- OK: ----------");
        //   // console.log(this);
        //   // console.log(this.$);
        //   // console.log(this.$.tripsRepeat);
        //   var tripsRepeat = this.$$("#tripsRepeat");

        //   this.trips.splice(0, this.trips.length);
        //   // this.trips.push(1);
        //   // this.trips.push(2);
        //   this.push('trips', 1);
        //   this.push('trips', 2);
        //   // this.trips.push(this.session.user.trips);
        //   if(tripsRepeat) {
        //     console.log(this.trips);
        //     console.log(this.session.user.trips)
        //     // tripsRepeat.render();
        //     console.log("updating repeat");
        //     console.log(this.trips);
        //     console.log(this.session.user.trips);
        //   }

        //   console.log("----------- DONE ----------")
        // }
      },
      getImageUrl: function(name) {
        return window.Polymer.image.user.AVATARS + name;
      },
      day: function(date) {
        return new Date(Date.parse(date)).getDay();
      },
      month: function(date) {
        var month = new Date(Date.parse(date)).getMonth();
        
        if(month >= 1 && month <= 12 )
          return window.Polymer.month[month - 1].substring(0, 3);

        return month;
      },
      reloadTrips: function(event) {
        this.$$("trip-service").reload();
        this.$$("#tripsRepeat").render();
      }
    });
  </script>
</dom-module>


<!--<script>
  var template = document.querySelector('template[id="profileTemplate"]');
  
  template.addEventListener('polymer-ready', function() {
    console.log("LAKIJSDASD");
    this.injectBoundHTML('<user-info selectedUser="{{session.id}}" selected="{{selected}}"></user-info>', document.querySelector("article"));
  });
  
  template.addEventListener('Polymer-ready', function() {
    console.log("AQUI NO LLEGA");
    var pages = this.$.profilePages;//querySelector("#tripPages");
    
    pages.querySelector("car-info").addEventListener("back-to-user", function(event, detail, sender) {
      pages.setAttribute("selected", "info");
    });
    
    pages.querySelector("user-info").addEventListener("create-car", function(event, detail, sender) {
      pages.setAttribute("selected", "cars");
    });
  });
</script>-->



<!--<script>
  var template = document.querySelector('template[id="profileTemplate"]');
//   template.model.selected = "cars";
  template.addEventListener('template-bound', function() {
//     var pages = this.$.profilePages;
//     
//     pages.querySelector("user-info").addEventListener("selected-selected", function(event, detail, sender) {
//       pages.setAttribute("selected", "{{selected}}");
//     });
  });



//   console.log("{{loged}}");
//   var template = document.querySelector('template[id="profileTemplate"]');
  
//   template.addEventListener('template-bound', function() {
//     this.appendChild("{{loged}}");
//   });
  
//   template.model.loged = "{{loged}}";
  
</script>-->

