<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-toogle-button/paper-toggle-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module name="register-view">
  <style>
  </style>
  <template>
    <div>
	  	<span>
	  		¿Todavía no te has registrado? ¡Hazlo gratis!
	  	</span>
	  	<div>
	  		<div>
	  			<img src="../images/user.png">
	  			<div>
	  				<span>Conductor</span>
	  				<paper-toogle-button></paper-toogle-button>
	  			</div>
	  		</div>

	  		<div>
	  			<div>
	  				<paper-input label="Nombre"></paper-input>
	  				<paper-input label="Apellidos"></paper-input>
					</div>
					<div>
	  				<paper-input label="email"></paper-input>
	  				<paper-input label="telefono"></paper-input>
					</div>
					<div>
						<span>Fecha de nacimiento</span>
						<input type="date">
					</div>
					<div>
	  				<paper-input label="Contraseña"></paper-input>
					</div>
					<div>
	  				<paper-input label="Repetir contraseña"></paper-input>
					</div>
	  		</div>

	  		<div>
	  			<paper-button raised>Guardar</paper-button>
	  		</div>
	  	</div>
	  </div>
  </template>

  <script>
    Polymer({
      is: "register-view",
      properties: {
        selected: {
          type: Number,
          value: 0,
          observer: 'selectedChanged'
        },
        route: {
          type: String,
          notify: true
        },
        filters: Object,
        session: Object
      },
      ready: function() {
        console.log("trips-view ready!");
      },

      selectedChanged: function() {
        console.log("CHANGED SELECTED");
      },

      search: function() {
        this.$.ts.reload();
      },

      tripSelected: function(e, trip) {
        this.set('selected', trip.idtrip);
      }
    });
  </script>
</dom-module>