<link rel="import" href="trip.html">
<link rel="import" href="../elements/trip-table.html">

<dom-module name="trips-view">
  <style>
  </style>
  <template>
    <table>
      <tr>
        <td colspan="4">Encuentra el viaje que necesitas</td>
      </tr>
      <tr>
        <td>De: </td>
        <td><input type="text" placeholder="De"></td>
        <td>A: </td>
        <td> <input type="text" placeholder="A"></td>
        
      </tr>
      <tr>
        <td colspan="4">Cuando lo necesitas</td>
      </tr>
      <tr>
        <td>Desde:  </td>
        <td><input type="date" placeholder="De"></td>
        <td>Hasta:  </td>
        <td><input type="date" placeholder="A"></td>
      </tr>
    </table>

    <trip-table departure="Granada" arrival="Dogo"></trip-table>
    <!-- <select value="{{selected::input}}">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <trip-view idtrip="[[selected]]"></trip-view> -->
  </template>

  <script>
    Polymer({
      is: "trips-view",
      properties: {
        selected: {
          type: Number,
          value: 0,
          observer: 'selectedChanged'
        },
        route: {
          type: String,
          notify: true
        }
      },
      ready: function() {
        console.log("trips-view ready!");
      },

      selectedChanged: function() {
        console.log("CHANGED SELECTED");
      }
    });
  </script>
</dom-module>