<link rel="import" href="../bower_components/paper-input/paper-input.html">

<link rel="import" href="../elements/trip-list.html">
<link rel="import" href="../elements/trip-info.html">
<link rel="import" href="../elements/location-box.html">
<link rel="import" href="../elements/travel-line.html">

<link rel="import" href="../elements/trip-service.html">
<link rel="import" href="../elements/trip-request.html">

<dom-module name="trip-view">
  <style>
    .content-travel-info {
      width: 75%;
      margin-left: 5%;
    }
    .principal-travel-info {
      width: 80%;
    }
    .travel-info {
      width: 120px;
    }
    .title-travel {
      font-weight: bold;
      font-variant: small-caps;
      font-size: 40px;
      margin: 0px 0px 20px 0px;
    }
    .departure-time {
      margin: 5px;
    }
    .money-travel {
      font-weight: bold;
      font-size: 36px;
      margin: 5px 5px 0px 5px;
    }
    .per-person-travel {
      font-style: italic;
      font-size: 10px;
      margin-bottom: 10px;
    }
    .info-image-travel {
      width: 50px;
      height: 50px;
      border: 1px solid #999;
      padding: 5px;
    }

    .small-container {
      width: 240px;
      background: #ccc;
      margin: 0px 10px 0px 10px;
      display: inline-block;
      height: 200px;
      vertical-align: top;
    }
    .smalls-containers {
      display: table;
      background: #369;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 100%;
    }
    .title-small-container {
      background: #f00;
      padding: 5px;
      font-weight: bold;
      font-size: 20px;
      font-variant: small-caps;
      text-align: center;
    }
    .profile-img-small-container {
      width: 60px;
      height: 60px;
      border: 1px solid #999;
      box-shadow: 0px 0px 5px #999;
    }

    .pictures-small-container {
      display: table;
      margin: 5px 10px 5px 5px;
    }
    .stars-small-container {
      height: 20px;
      width: 100%;
      background: #0f0;
      margin-top: 5px;
    }
    .info-small-container {
      margin: 5px 5px 5px 0px;
      width: 70%;

    }
    .button-request {
      margin-top: 30px;
      width: 20%;
      height: 40px;
      background: #f00;

    }
    .collapse-content-comment {
      border: 1px solid #ccc;
      margin: 10px;
      padding: 10px;
    }
    .table-request {
      width: 100%;
    }
    .comment-text-area {
      width: 100%;
    }
  </style>
  <template>
    <trip-service id="ts" fetch="[[idtrip]]" response="{{trip}}"></trip-service>
    <div class="layout horizontal">
      <travel-line>
        <template is="dom-repeat" items="{{trip.wps}}" as="wp">
          <location-box first="[[!index]]" stop="[[wp.stop]]" location="[[wp.city]]" day="[[day(wp.date)]]" seats="[[wp.seats]]" month="[[month(wp.date)]]" hour="[[time(wp.date)]]"></location-box>
        </template>
        <!-- <location-box first="true" stop="true" location="Granada" day="10" seats="3" month="Septiembre" hour="10:30"></location-box>
        <location-box location="Motril"></location-box>
        <location-box stop="true" location="Granada" day="10" seats="3" month="Septiembre" hour="10:30"></location-box>
        <location-box location="Motril"></location-box> -->
      </travel-line>

      <div class="layout vertical content-travel-info">
        <div class="layout horizontal">
          <div class="layout vertical principal-travel-info">
            <p class="title-travel"><span>[[trip.wps.0.city]]</span><span> - </span><span>[[trip.destiny.city]]</span></p>
            <p class="departure-time"><span>Fecha de salida </span><span>[[day(trip.wps.0.date)]]</span> <span>[[month(trip.wps.0.date)]]</span></p>
            <p class="departure-time"><span>Hora de salida </span><span>[[time(trip.wps.0.date)]]</span></p>
          </div>
          <div>
            <div class="travel-info">
              <div class="layout vertical center">
                <div class="money-travel"><span>[[trip.cost]]</span><span>€</span></div><span class="per-person-travel"> por persona</span>
              </div>
              <div class="layout horizontal">
                <img class="info-image-travel travel-animals-info" src="../images/stop.png">
                <img class="info-image-travel travel-package-info" src="../images/stop.png">
              </div>
            </div>
          </div>
        </div>

        <div class="smalls-containers">

          <div class="small-container">
            <div class="title-small-container">Conductor</div>
            <div class="layout horizontal">
              <div class="pictures-small-container">
                <img src="" class="profile-img-small-container">
                <div class="stars-small-container"></div>
              </div>
              <div class="layout vertical info-small-container">
                <span><span>[[trip.driver]]</span> <span>[[trip.driversn]]</span></span>
                <span><span>[[age(trip.birth)]]</span> años</span>
                <span>email@email.com</span>
                <span>666666666</span>
              </div>
            </div>
          </div> 

          <div class="small-container">
            <div class="title-small-container">Coche</div>
            <div class="layout vertical">
              <span>[[trip.model]]</span>
              <span>[[trip.car]]</span>
              <div class="layout horizontal center-justified">
                <img src="../images/seat-icon.png">
                <span><span>[[trip.free]]</span> asientos libres</span>
              </div>
            </div>
          </div> 

        </div>

        <div class="comment-container">
          <div class="title-small-container">Comentario del conductor</div>
          <div><span>[[trip.comment]]</span></div>
        </div>

        <button on-click="toggle" class="button-request">
          <span>Pedir</span>
        </button>
        <iron-collapse class="content" id="collapse">
          <template is="dom-if" if="[[request]]">
            <trip-request trip="[[trip]]"></trip-request>
          </template>
        </iron-collapse>
      </div>
    </div>
    
  </template>

  <script>
    Polymer({
      is: "trip-view",
      properties: {
        session: Object,
        idtrip: {
          type: Number,
          observer: 'idtripChanged'
        },
        trip: {
          type: Object,
          value: {}
        },
        selected: {
          type: String,
          value: "main"
        }
        // request: Boolean
      },

      ready: function() {
        console.log("trip-view ready!");
        // this.$.ts.reload();
      },
      toggle: function() {
        // console.log("ASD");
        this.$.collapse.toggle();
        this.request = !this.request;
      },
      idtripChanged: function() {
        this.$.ts.reload();
      },
      day: function(date) {
        return window.Polymer.day(date);
      },
      month: function(date) {
       return window.Polymer.month(date);
      },
      time: function(date) {
        return window.Polymer.time(date);
      },
      age: function(date) {
        return window.Polymer.age(date);
      }
    });
  </script>
</dom-module>