<link rel="import" href="trip.html">

<dom-module name="trips-view">
  <style>
  </style>
  <template>
    <select selected="{{selected::input}}">
      <option value="1">1</option>
      <option value="3">2</option>
      <option value="2">3</option>
    </select>
    <trip-view idtrip="[[selected]]"></trip-view>
  </template>

  <script>
    Polymer({
      is: "trips-view",
      properties: {
        selected: {
          type: Number,
          value: 0
        }
      },
      ready: function() {
        console.log("trips-view ready!");
      }
    });
  </script>
</dom-module>