<!-- <link rel="import" href="../bower_components/polymer/polymer.html"> -->
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<!-- <link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html"> -->
<!--   <link rel="import" href="../bower_components/flatiron-director/flatiron-director.html"> -->

<link rel="import" href="../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="../bower_components/neon-animation/animations/slide-from-right-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/slide-right-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/slide-from-left-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/slide-left-animation.html">

<link rel="import" href="../elements/trip-list.html">
<link rel="import" href="../elements/trip-info.html">
<link rel="import" href="../elements/location-box.html">
<link rel="import" href="../elements/travel-line.html">

<dom-module name="trip-view">

<!--   <section layout center-center fit> -->
    <template id="tripsTemplate">
  <!--   <flatiron-director route="{{route}}" autoHash></flatiron-director> -->
      <div>
        <travel-line>
          <location-box first="true" stop="true" location="Granada" day="10" seats="3" month="Septiembre" hour="10:30"></location-box>
          <location-box location="Motril"></location-box>
          <location-box stop="true" location="Granada" day="10" seats="3" month="Septiembre" hour="10:30"></location-box>
          <location-box location="Motril"></location-box>
        </travel-line>

        <div class="layout vertical">
          
        </div>
      </div>
      
    </template>
    
<!--   </section> -->

<!--<script>
  var template = document.querySelector('template[id="tripsTemplate"]');
  template.addEventListener('template-bound', function() {
    var pages = this.$.tripPages;//querySelector("#tripPages");
    console.log("PAGES: " + pages);
    
    pages.querySelector("trip-list").addEventListener("selected-tap", function(event, detail, sender) {
      pages.setAttribute("selected", "specific");
    });

    pages.querySelector("trip-info").addEventListener("back-to-list", function(event, detail, sender) {
      pages.setAttribute("selected", "list");
    });
  });
</script>-->

  <script>
    Polymer({
      is: "trip-view",
      properties: {
        session: Object,
        selected: {
          type: String,
          value: "main"
        }
      },

      ready: function() {
        console.log("trips ready!");
      }
    });
  </script>
</dom-module>